/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template

*/

.rounded-frame {
    -fx-background-radius: 50%;
    -fx-background-color: gray;
}

#perfil {
    -fx-clip: circle(50%);
}